.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  background: #313131;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  cursor: pointer;
  padding: 0;
  height: 40px;
}

.dropbtn:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.6);
}

.subscribeText {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.dropdownContent {
  position: absolute;
  top: 28px;
  left: 0;
  z-index: 111;

  background: white;

  border-radius: 3px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);

  display: none;
  max-width: 146px;
  margin-top: 10px;
}

.dropdownContent::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.dropdownContent a {
  position: relative;

  border-radius: 3px;

  display: flex;
  align-items: center;
  gap: 15px;

  color: black;
  text-decoration: none;

  line-height: 1;
  font-size: 14px;

  color: #000;

  padding: 12px 31px 12px 10px;
  transition: background-color 0.25s ease-in-out;
}

.dropdownContent a:hover {
  color: #000;
  background: #e5e5e5;
  text-decoration: none;
}

.dropdownContainer:hover .dropdownContent {
  display: block;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../../../assets/logo.png") no-repeat 0 0;
  background-size: 100% 200%;
  display: block;
  height: 40px;
  width: 132px;
}

.logo:hover {
  background-position: 0 -40px;
  cursor: pointer;
}

.authorizationContainer {
  display: flex;
  gap: 52px;
  line-height: 0;
}

.signUp,
.signIn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.authorizationText {
  color: #777;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
}

.authorizationText:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #9a9a9a;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 16px;
  }

  .dropbtn {
    display: none;
  }

  .logo {
    left: 17%;
  }

  .authorizationContainer {
    gap: 16px;
  }
}

[data-theme="dark"] {
  .header {
    background: #060f13;
  }

  .dropdownContent {
    background: #060f13;
  }

  .dropdownContent a {
    color: white;
  }

  .dropdownContent a:hover {
    color: black;
  }
}
