.navbar {
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  max-width: 1000px;
  width: 100%;
  height: 44px;
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.navbarMenu {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbarItemText {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  padding-right: 20px;
  font-size: 14px;
  line-height: 44px;
  font-weight: bold;
  color: #000;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 860px) {
  .navbarItemTex {
    padding-right: 10px;
    font-size: 12px;
  }
}

.navbarItemTex:hover {
  text-decoration: underline;
}

.dropdownArrow {
  margin-top: 3px;
  transition: transform 0.3s ease;
}

.navbarItem.open .dropdownArrow {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .navbarMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .navbarMenu.open {
    display: flex;
  }

  .navbarItem {
    width: 100%;
    position: relative;
  }

  .navbarItemText {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  .navbarItem.open .customDropdown {
    display: flex;
  }
}

[data-theme="dark"] {
  .navbar {
    background: #222d33;
  }

  .link {
    color: var(--text-color);
  }
}
