.pageLayoutWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pageContentWrapper {
  min-width: 1000px;
}

.sideBoxWrapper {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100vh;
  width: 100%;
  max-width: 385px;
}

.pageContainer {
  position: relative;

  background-color: var(--color-theme);

  width: 100%;
}

.sideLogo {
  margin-top: 250px;
  width: 52%;
}

.sideCall {
  margin-top: 10%;
  width: 80%;
}

.sideBtn {
  margin-top: 10%;
  width: 80%;
}

.rightElem {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.leftElem {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48%;
}

.topAdWrapper {
  position: sticky;
  top: 0px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  max-height: 250px;
  width: 100%;
}

.headerCall {
  width: 35%;
  max-width: 402px;
}

.headerMan {
  height: 100%;
}

.bottomAdWrapper {
  position: fixed;

  width: 100%;
  bottom: 0px;
  left: 0px;

  margin: auto;

  background-color: transparent;

  z-index: 100;

  cursor: pointer;

  transition: bottom 0.5s ease-out;

  &.hidden {
    bottom: -150px;
    transition: bottom 0.5s ease-out;
  }
}

.imagesAdWrapper {
  display: block;
  width: 100%;
  background: black;
}

.bottomImage {
  display: block;

  margin: 0 auto;

  object-fit: contain;

  width: 100%;
  max-height: 90px;
}

.closeBanner {
  position: absolute;
  right: 5px;
  top: 5px;

  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .pageContentWrapper {
    min-width: auto;
    max-width: 1000px;
    width: 100%;
  }

  .sideBoxWrapper {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .bgImage {
    display: none;
  }

  .bottomAdWrapper,
  .topAdWrapper {
    display: none;
  }

  .header {
    padding: 0 16px;
  }

  .authorizationContainer {
    gap: 16px;
  }
}
