:root {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-theme-light: #ffffff;
  --color-theme-dark: #09161c;

  --dark-color: #000000;

  --text-color-light: #ffffff;
  --text-color-dark: #000000;
}

[data-theme="light"] {
  --color-theme: var(--color-theme-light);
  --text-color: var(--text-color-dark);

  --text-label: #555555;

  --body-field: #f9f9f9;
  --border-field: #e3e3e3;
}

[data-theme="dark"] {
  --color-theme: var(--color-theme-dark);
  --text-color: var(--text-color-light);

  --text-label: #ffffff80;

  --body-field: #060f13;
  --border-field: rgba(255, 255, 255, 0.22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: auto;

  background-color: #000;

  color: var(--text-color);
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

ul,
ol,
li {
  list-style-type: none;
}
