.toggleSwitch {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggler {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
}

.toggleButton {
  background-color: transparent;
  border: none;
}

.toggleInput {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggleLabel {
  display: block;
  background: transparent;
  box-shadow: 0 0 0 1px gray inset;
  border-radius: 40px;
  cursor: pointer;
  text-indent: -9999px;

  &:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transition: 0.3s left ease-in-out;
    background: white;
  }

  &.checked {
    &:after {
      left: 14px;
      background: red;
    }
  }

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.defaultSize {
    width: 26px;
    height: 16px;
  }

  &.defaultColor {
    &:after {
      background: white;
    }
  }
}
