.toggleSwitch {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggler {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
}

.iconMoon {
  position: absolute;
  left: 30px;

  pointer-events: none;
}

.iconSun {
  position: absolute;
  left: 6px;

  pointer-events: none;
}

.toggleButton {
  background-color: transparent;
  border: none;
}

.toggleInput {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggleLabel {
  display: block;
  background: var(--bg-theme);
  border-radius: 40px;
  cursor: pointer;
  text-indent: -9999px;

  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 6px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: 0.5s left ease-in-out;
    background: white;
  }

  &.checked {
    &:after {
      left: 25px;
    }
  }

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.defaultSize {
    width: 50px;
    height: 30px;
  }
}

[data-theme="dark"] {
  .toggleLabel {
    background: #222d33;
  }
}

[data-theme="light"] {
  .toggleLabel {
    background: var(--dark-color);
  }
}
